.hero-video-container{
    height:100vh;
     width:100%;
     display: flex;
  justify-content:center;
  align-items: center;
} 
.hero-video-container video{
    height:110%;
     width:100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
   object-fit: cover;
} 
.hero-video-container .caption{
  position: relative;
  z-index: 20;
text-align:center;
  color: antiquewhite;
}
.caption h1{
  letter-spacing:5px;
  font-weight: bold;
}
@media screen  and (max-width: 768px) {
  .caption h1{
    letter-spacing:5px;
    font-size: 20px;
  
  }
  .programme-container h1{
 
    font-size: 22px;
  }
}