.navbar-container{
    z-index: 6;
}
.navbar-items ul li {
margin-left: 40px!important;

}
.nab-container .navbar-collapse ul li {
    border: None!important;

}
.nab-container .navbar-collapse ul li a{
    margin-right: 25px;
    padding: 5px 5px;
    font-size: 16px;
    color:rgb(139, 139, 139)!important;
    
}
.dropdown-menu{
    display: none!important;
   
}
.dropdown:hover .dropdown-menu{
    display: block!important;
}
.navbar-items ul li a{
    color: antiquewhite !important;
    text-decoration: none ;
}
