
@media screen and (max-width: 480px) {
    
    .dashboard-nav{
        height:fit-content !important;
        background-color: #c3c9ca ;
        width:96% !important;
    }
}
  .dashboard-nav{
      height: 100vh;
      background-color: #ffffff !important;
  }
  .dashboard-container{
    background-color: #ececec !important ;
  }

  